<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigaa Planner</title>
    <link rel="stylesheet" href="/views/page/page.css">
</head>
<body>
    
    <header id="top">
        <div id="titulo">
            <h1>Sigaa</h1>
            <h3>Planner</h3>
        </div>
        <!--cabecalho-->
        <ul>
            <li><a href="#mid">Como Funciona?</a></li>
            <li><a href="/views/login/login.html">Login</a></li>
        </ul>
        
    </header>
    
    <main id="principal">
        <aside>
            <h2><span>Planeje seus estudos com facilidade e praticidade.</span></h2>
            <h2>Revolucione a sua maneira de estudar!</h2>
            <p>No turbilhão da vida acadêmica, equilibrar diversas disciplinas, prazos de entrega e materiais de estudo pode ser uma tarefa desafiadora. É nesse contexto que o aplicativo Sigaa Planner surge como o parceiro ideal para simplificar e otimizar o gerenciamento de estudos acadêmicos.</p>
        </aside>
        <article>
            <img src="logo_1.png" id="logotipo" alt="logo">
        </article>
    </main>
    <!--RODAPÉ-->

    <main id="ComoFunciona">
        <h5>Sigaa Planner | O Seu Guia Personalizado para o Sucesso Acadêmico</h5>
        
        <h6> No cenário acelerado da vida acadêmica, o aplicativo Sigaa Planner se destaca como um facilitador inteligente, transformando o caos dos estudos acadêmicos em uma jornada organizada e eficiente.</h6>
        
        <h7>
            <h8>Planejamento Estratégico:</h8>
            <li> O coração do Sigaa Planner reside em seu sistema de planejamento estratégico. Usando algoritmos inteligentes, o aplicativo ajuda os usuários a criar cronogramas personalizados, levando em consideração datas de entrega, horários de aula e períodos de revisão. Essa abordagem adaptativa permite uma gestão de tempo mais eficaz.</li>
            <h8> Notificações Inteligentes:</h8>
            <li> Nada escapa à atenção do usuário com as notificações inteligentes do Sigaa Planner. Alertas são enviados para lembretes de tarefas pendentes, datas de provas e eventos acadêmicos, garantindo que nenhum compromisso importante seja esquecido.</li>
            <h8>Rastreamento de Progresso:</h8>
            <li>O aplicativo oferece ferramentas robustas de rastreamento de progresso. Os usuários podem registrar suas notas, avaliar seu desempenho em diferentes disciplinas e visualizar gráficos intuitivos que destacam áreas de força e oportunidades de melhoria.</li>
            <h8> Central de Recursos:</h8>
            <li> O Sigaa Planner disponibiliza um banco de recursos, no qual os usuários podem armazenar e acessar materiais de estudo, artigos acadêmicos e links úteis. Isso proporciona uma biblioteca virtual personalizada, facilitando a revisão e aprofundamento nos conteúdos.</li>
       
        </h7>
    </main>

    <main id="bot">
        <h9>Todos os direitos reservados.</h9>
    </main>
</body>
</html>